<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Report.Settings.ReportSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Report.Settings.ReportSettings>
            <setting name="ReportFileFolder" serializeAs="String">
                <value>Report</value>
            </setting>
            <setting name="GenerateFormal" serializeAs="String">
                <value>False</value>
            </setting>
        </Report.Settings.ReportSettings>
    </userSettings>
</configuration>